*{
    margin:-0;
    padding: 0;
    box-sizing:border-box;
    }

    body{
        display: flexbox;
        align-items: 100;
        justify-content: center;
        height:100vh;
    }
    .texto{
        font-size: 160px;
text-align: center;
background: linear-gradient(45deg,  #3700ff,#ff3700d6,#04ff00d6);
background-size: 400% 105%;
animation: identifier 1s linear infinite alternate;


-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    }
    @keyframes  identifier {
0%{
background-position-x: 0cap;

}
100%{
background-position: 40%;

}



    


        
        